/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Share+Tech&display=swap');

@import "tailwindcss";

/* Default font for body */
* {
  font-family: "Outfit", sans-serif;
}

/* Use Dancing Script for headings */
h1 {
  font-family: "Dancing Script", cursive;
}

p{
    font-family: "Share Tech", sans-serif;
}

h2{
    font-family: "Bungee", sans-serif;

}

/* to hide scrollbar */
::-webkit-scrollbar{
  @apply hidden
}